<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE document SYSTEM "rml.dtd">

<document filename="packing-slip.pdf" xmlns:doc="http://namespaces.zope.org/rml/doc">
    <!-- Don't remove any of the following main blocks, -->
    <!-- otherwise the document will not compile. -->
    <template pagesize="(6in, 4in)" showBoundary="1">
        <pageTemplate id="main">
            <pageGraphics>
                <fill color="#eeeeee"/>
                <rect x="0" y="234" height="54" width="432" stroke="0" fill="1"/>

                <fill color="#444444"/>
                <setFont name="Helvetica-Bold" size="18"/>
                <drawString x="18" y="261">Your Receipt</drawString>

                <fill color="#444444"/>
                <setFont name="Helvetica-Bold" size="10"/>
                <drawString x="57" y="248">order 72e1c629</drawString>

                <fill color="#444444"/>
                <setFont name="Helvetica" size="10"/>
                <image file="itemize/templates/packing/notice.png" x="279" y="250" width="18" height="18"/>
                <drawString x="299" y="262">Your order has been split</drawString>
                <drawString x="303" y="251">into multiple shipments.</drawString>

                <fill color="#444444"/>
                <setFont name="Helvetica-Bold" size="10"/>
                <drawString x="180" y="216">shipped to:</drawString>
                <drawString x="180" y="198">billed to:</drawString>

                <fill color="#444444"/>
                <setFont name="Helvetica-Bold" size="10"/>
                <drawString x="308" y="81">subtotal:</drawString>
                <drawString x="287" y="68">tax collected:</drawString>
                <drawString x="306" y="54">shipping:</drawString>
                <drawString x="288" y="41">amount paid:</drawString>

                <fill color="#eeeeee"/>
                <rect x="257" y="18" height="18" width="158" stroke="0" fill="1"/>
                <fill color="#444444"/>
                <setFont name="Helvetica-Bold" size="12"/>
                <drawString x="260" y="23">BALANCE DUE:</drawString>

                <translate dx="428" dy="0"/>
                <rotate degrees="90"/>
                <barCode x="-12" y="0" code="Code128" barHeight="9" barWidth="0.009in">72e1c629</barCode>

                <fill color="#000000"/>
            </pageGraphics>

            <frame id="shipped-address" x1="236" y1="209" width="178" height="18" />
            <frame id="billed-address" x1="236" y1="191" width="178" height="18" />
            <frame id="line-items" x1="18" y1="95" width="396" height="90" />

            <frame id="subtotal" x1="357" y1="80" width="54" height="12" />
            <frame id="tax-collected" x1="357" y1="66" width="54" height="12" />
            <frame id="shipping" x1="357" y1="52" width="54" height="12" />
            <frame id="amount-paid" x1="357" y1="38" width="54" height="12" />
            <frame id="balance-due" x1="357" y1="20" width="54" height="14" />

            <frame id="thank-you" x1="18" y1="18" width="225" height="36" />

        </pageTemplate>

    </template>

    <stylesheet>
        <!-- Conatins the style information for the document. -->
        <blockTableStyle id="exampleTable">
            <blockValign value="TOP" />
            <blockAlignment value="LEFT" />
            <blockTopPadding length="2" />
            <blockBottomPadding length="2" />
            <blockLeftPadding length="3" />
            <blockRightPadding length="3" />
            <lineStyle kind="LINEBELOW" colorName="silver" start="0,1" stop="-1,-2" />
            <lineStyle kind="LINEAFTER" colorName="silver" start="0,1" stop="-2,-1" />
            <blockFont name="Helvetica" size="9" start="0,1" stop="-1,-1" />

            <blockTopPadding length="3" start="0,0" stop="-1,0" />
            <blockBottomPadding length="3" start="0,0" stop="-1,0" />
            <blockLeftPadding length="7" start="0,0" stop="-1,0" />
            <blockRightPadding length="7" start="0,0" stop="-1,0" />
            <blockFont name="Helvetica-Bold" size="11" start="0,0" stop="-1,0" />
            <blockTextColor colorName="white" start="0,0" stop="-1,0" />
            <blockBackground colorName="#3b5b86" start="0,0" stop="-1,0" />
        </blockTableStyle>
        <paraStyle 
            name="style.centered"
            fontName="Helvetica"
            fontSize="8"
            alignment="center" />
    </stylesheet>

    <story>
        <nextFrame name="shipped-address" />
        <keepInFrame>
            <para>
                Example Shipping Address, 123 Test St, Testing, OK 12345
            </para>
        </keepInFrame>

        <nextFrame name="billed-address" />
        <keepInFrame>
            <para>
                Example Billing Address, 123 Test St, Testing, OK 12345
            </para>
        </keepInFrame>

        <nextFrame name="line-items" />
        <blockTable colWidths="1.0in, 3.0in, 0.75in, 0.75in">
            <tr>
                <td>SKU</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
            <tr>
                <td>1234567890</td>
                <td>Test Product 1 (Medium/Black)</td>
                <td>90</td>
                <td>$102.84</td>
            </tr>
            <tr>
                <td>1234567890</td>
                <td>Test Product 2 (Medium/Black)</td>
                <td>90</td>
                <td>$102.84</td>
            </tr>
            <tr>
                <td>1234567890</td>
                <td>Test Product 3 (Medium/Black)</td>
                <td>90</td>
                <td>$102.84</td>
            </tr>
            <tr>
                <td>1234567890</td>
                <td>Test Product 4 (Medium/Black)</td>
                <td>90</td>
                <td>$12.84</td>
            </tr>
        </blockTable>

        <nextFrame name="subtotal"/>
        <para alignment="center">
            <font size="10">$102.84</font>
        </para>
        <nextFrame name="tax-collected"/>
        <para alignment="center">
            <font size="10">$12.34</font>
        </para>
        <nextFrame name="shipping"/>
        <para alignment="center">
            <font size="10">$12.34</font>
        </para>
        <nextFrame name="amount-paid"/>
        <para alignment="center">
            <font size="10">$12.34</font>
        </para>
        <nextFrame name="balance-due"/>
        <para alignment="center">
            <font size="12">$0.00</font>
        </para>

        <nextFrame name="thank-you"/>
        <para>
            TODO: Add some kind of thank you message and contact information here...
        </para>
    <!--    <spacer length="1cm" />-->

    </story>
</document>
