{% extends "packing/base.rml.jinja2" %}
{% import "packing/graphics.rml.jinja2" as graphics %}

{% set test_mode = False %}

{% block template %}
<pageTemplate id="single">
    <pageGraphics>
        <!--Create header.-->
        {{ graphics.draw_header("#eeeeee") }}
        {{ graphics.draw_heading(order_token) }}
        {% if split_shipment %}
            {{ graphics.draw_multiple_shipments_notice() }}
        {% endif %}
        {{ graphics.draw_address_fields() }}
        {{ graphics.draw_receipt_fields() }}
        {{ graphics.draw_barcode(order_token) }}
        <!--Set fill color back to default.-->
        <fill color="#000000"/>
    </pageGraphics>
    <frame id="line-items" x1="18" y1="95" width="396" height="90" />
    {{ graphics.draw_address_frames() }}
    {{ graphics.draw_receipt_frames() }}
</pageTemplate>

<pageTemplate id="first">
    <pageGraphics>
        {{ graphics.draw_header("#eeeeee") }}
        {{ graphics.draw_heading(order_token) }}
        {% if split_shipment %}
            {{ graphics.draw_multiple_shipments_notice() }}
        {% endif %}
        {{ graphics.draw_address_fields() }}
        {{ graphics.draw_barcode(order_token) }}
        <!--Set fill color back to default.-->
        <fill color="#000000"/>
    </pageGraphics>
    <frame id="line-items" x1="18" y1="18" width="396" height="167" />
    {{ graphics.draw_address_frames() }}
</pageTemplate>

<pageTemplate id="middle">
    <pageGraphics>
        {{ graphics.draw_header("#eeeeee") }}
        {{ graphics.draw_heading(order_token) }}
        {% if split_shipment %}
            {{ graphics.draw_multiple_shipments_notice() }}
        {% endif %}
        <!--Set fill color back to default.-->
        <fill color="#000000"/>
    </pageGraphics>
    <frame id="line-items" x1="18" y1="18" width="396" height="209" />
</pageTemplate>

<pageTemplate id="last">
    <pageGraphics>
        {{ graphics.draw_header("#eeeeee") }}
        {{ graphics.draw_heading(order_token) }}
        {% if split_shipment %}
            {{ graphics.draw_multiple_shipments_notice() }}
        {% endif %}
        {{ graphics.draw_receipt_fields() }}
        <!--Set fill color back to default.-->
        <fill color="#000000"/>
    </pageGraphics>
    <frame id="line-items-last" x1="18" y1="95" width="396" height="132" />
    {{ graphics.draw_receipt_frames() }}
</pageTemplate>
{% endblock %}

{% block stylesheet %}
<blockTableStyle id="line-items">
    <blockValign value="MIDDLE" />
    <blockAlignment value="CENTER" start="0,0" stop="-1,-1" />
    <blockAlignment value="LEFT" start="1,0" stop="-3,-1" />
    <blockTopPadding length="2" />
    <blockBottomPadding length="2" />
    <blockLeftPadding length="3" />
    <blockRightPadding length="3" />
    <lineStyle kind="GRID" thickness="1" colorName="silver" start="0,1" stop="-1,-1" />
    <blockFont name="Helvetica" size="10" start="0,0" stop="-1,-1" />

    <blockTopPadding length="3" start="0,0" stop="-1,0" />
    <blockBottomPadding length="3" start="0,0" stop="-1,0" />
    <blockLeftPadding length="7" start="0,0" stop="-1,0" />
    <blockLeftPadding length="7" start="1,1" stop="1,-1" />
    <blockRightPadding length="7" start="0,0" stop="-1,0" />

    <blockFont name="Helvetica-Bold" size="10" start="0,0" stop="-1,0" />
    <blockTextColor colorName="#eeeeee" start="0,0" stop="-1,0" />
    <blockBackground colorName="#444444" start="0,0" stop="-1,0" />
</blockTableStyle>
{% endblock %}

{% block story %}

{% if pages|length == 1 %}

    {{ graphics.draw_address_content(shipping_address, billing_address) }}

<nextFrame name="line-items" />
<blockTable style="line-items" colWidths="0.75in, 3.25in, 0.75in, 0.75in">
    <tr><td>SKU</td><td>Product</td><td>Quantity</td><td>Total</td></tr>
    {% set line_items = pages.pop() %}
    {% for line_item in line_items %}
    <tr>
        <td>{{ line_item.sku }}</td>
        <td>{{ line_item.description }}</td>
        <td>{{ line_item.quantity }}</td>
        <td>${{ line_item.total }}</td>
    </tr>
    {% endfor %}
</blockTable>
{% endif %}

{{ fill_receipt(subtotal="72.43", tax_collected="4.34", amount_paid="76.78") }}

{% endblock %}

{% macro fill_receipt(
    subtotal="0.00", tax_collected="0.00", shipping="0.00",
    amount_paid="0.00", balance_due="0.00", currency_symbol="$") %}
    <nextFrame name="subtotal"/>
    <para alignment="center">
        <font size="10">{{ currency_symbol }}{{ subtotal }}</font>
    </para>
    <nextFrame name="tax-collected"/>
    <para alignment="center">
        <font size="10">{{ currency_symbol }}{{ tax_collected }}</font>
    </para>
    <nextFrame name="shipping"/>
    <para alignment="center">
        <font size="10">{{ currency_symbol }}{{ shipping }}</font>
    </para>
    <nextFrame name="amount-paid"/>
    <para alignment="center">
        <font size="10">{{ currency_symbol }}{{ amount_paid }}</font>
    </para>
    <nextFrame name="balance-due"/>
    <para alignment="center">
        <font size="12" color="#444444" name="Helvetica-Bold">{{ currency_symbol }}{{ balance_due }}</font>
    </para>
{%- endmacro %}
